.scroll-link {
    position: relative;
    /* Ensures the ::after pseudo-element aligns correctly */
    display: inline-block;
}

.scroll-link::after {
    content: '';
    position: absolute;
    height: 1.5px;
    left: 50%;
    bottom: 0;
    width: 0;
    background: rgb(41, 41, 41);
    /* Add transition for left and transform */
    transition: width .1s, left .1s, transform .1s;
    transform: translateX(-50%);
}

.scroll-link:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0%);
}